.icon-large {
  font-size: 400%;
  line-height: 600%; }

.icon-small {
  font-size: 200%; }

.icon-medium {
  font-size: 300%; }

h1 {
  font-size: 14px;
  font-style: italic;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-decoration: underline; }

.datetimepicker-container {
  position: relative;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px; }
  .datetimepicker-container div.input-group {
    position: relative; }
    .datetimepicker-container div.input-group span {
      width: 40px;
      font-size: 150%;
      position: absolute;
      top: -10px;
      left: 140px; }
      .datetimepicker-container div.input-group span i {
        font-size: 30px; }
    .datetimepicker-container div.input-group label {
      margin-left: 26px;
      vertical-align: top; }
  .datetimepicker-container .tongue {
    left: 142px;
    top: 22px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #CCCCCC;
    border-left: 10px solid transparent;
    position: absolute; }
  .datetimepicker-container .datetimepicker-wrapper {
    min-width: 270px;
    width: 100%;
    position: absolute;
    z-index: 20;
    left: 9px;
    top: 12px; }
    .datetimepicker-container .datetimepicker-wrapper .datetimepicker {
      width: 270px;
      margin-top: 20px; }
      .datetimepicker-container .datetimepicker-wrapper .datetimepicker table {
        border-collapse: collapse;
        border-spacing: 2px;
        background: #FFFFFF;
        margin-bottom: 1.25rem;
        border: solid 1px #E1E1E1;
        table-layout: auto; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table th {
          text-align: center;
          background-color: #FFFFFF;
          width: 25px;
          height: 25px;
          cursor: pointer;
          color: #000000;
          padding: 0.5625rem 0.625rem;
          font-size: 0.875rem;
          display: table-cell;
          line-height: 1.125rem; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table th:not(.weekdays):hover {
          background-color: #EEEEEE;
          cursor: pointer; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.dates td {
          text-align: center;
          background-color: #FFFFFF;
          width: 25px;
          height: 25px;
          cursor: pointer;
          padding: 0.5625rem 0.625rem;
          font-size: 0.875rem;
          display: table-cell;
          line-height: 1.125rem;
          border-width: 0px !important;
          color: #000000; }
          .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.dates td:hover {
            background-color: #EEEEEE;
            cursor: pointer; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.dates .other-month {
          color: #777777; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.dates .disabled-date {
          background-color: #D7D7D7;
          color: #AFAFAF;
          cursor: auto !important; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.dates .selected-date {
          background-color: #FFFF99; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.dates .today {
          background-color: #85C6DE; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.months td {
          border-width: 0px !important;
          text-align: center; }
          .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.months td span {
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 300%;
            margin: 2px 1.5px;
            cursor: pointer;
            text-align: center;
            padding-top: 4px; }
            .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.months td span:hover {
              background-color: #EEEEEE;
              cursor: pointer; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.months .current-month {
          background-color: #FFFF99;
          color: red; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.time td {
          text-align: center;
          width: 270px;
          background-color: #FFFFFF;
          border-width: 0px !important; }
          .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.time td a.time-arrow {
            display: inline-block;
            padding-left: 9px;
            font-size: 200%;
            border-radius: 5px;
            padding-right: 9px; }
          .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.time td span.separator {
            width: 4px;
            padding: 0;
            margin: 0;
            vertical-align: bottom; }
          .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.time td span.colon {
            vertical-align: top;
            font-weight: bold; }
          .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tbody.time td span.time-value {
            display: inline-block;
            font-weight: 700;
            font-size: 150%;
            margin: 0;
            border: 0px;
            background: none; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tfoot td {
          text-align: center;
          border-width: 0px !important;
          background-color: #FFFFFF; }
        .datetimepicker-container .datetimepicker-wrapper .datetimepicker table tfoot span {
          background: none; }

/*# sourceMappingURL=datepicker.css.map */
