

$black-color: #000000 ;
$black2-color: #111111;
$gray1-color: #191919 ;
$gray2-color: #323232 ;
$gray3-color: #4B4B4B ;
$gray4-color: #646464 ;
$gray6-color: #969696 ;
$gray7-color: #AFAFAF ;
$gray8-color: #C8C8C8 ;
$gray9-color: #E1E1E1 ;
$gray10-color: #F0F0F0 ;
$gray11-color: #232323 ;
$gray12-color: #3C3C3C ;
$gray13-color: #F5F5F5;
$gray14-color: #EBEBEB ;
$gray15-color: #E6E6E6 ;
$gray16-color: #D7D7D7 ;
$gray17-color: #787878 ;
$gray18-color: #5A5A5A ;
$gray19-color: #2D2D2D ;
$gray20-color: #1E1E1E ;
$gray21-color: #282828 ;
$gray22-color: #BEBEBE ;
$gray23-color: #8F8F8F ;
$gray24-color: #8C8C8C;
$gray25-color: #cdcdcd;
$white-color: #FFFFFF;


// Colour Pallet - Blues
$blue1-color: #00AEEF;
$blu2-color: #3399FF;
$blue3-color: #2F6CA8;
$blue4-color: #003366;
$blue5-color: #285666;
$blue6-color: #B1DBEA;
$blue7-color: #EFF8FB;
$blue8-color: #85C6DE;
$blue9-color: #D7ECF4;
$blue10-color: #E8F4F9;
$blue11-color: #6FB7FF;
$blue12-color: #001520;
$blue13-color: #355373;
$blue17-color: #5E85AC;
$blue18-color: #7C9BBB;
$blue19-color: #73A5D5;
$blue20-color: #60BDE0;
$blue21-color: #C2DCE4;
$blue22-color: #F1F9FB;
$blue23-color: #2A404D;
$blue24-color: #2E4654;
$blue25-color: #3A5869;
$blue26-color: #44677E;
$blue27-color: #3F7DA0;
$blue28-color: #4794C4;

// Colour Pallet - Reds
$red1-color: #FF0000;
$red2-color: #CC0000;
$red3-color: #990000;
$red4-color: #660000;
$red5-color: #330000;
$red6-color: #FEE0E0;
$red7-color: #FF3737;
$red10-color:#DF6650;
$red11-color:#D8523F;
$red12-color:#A94436;
$red13-color:#C60F13; 

// Colour Pallet - Greens
$green1-color:#00FF00;
$green2-color:#99CC33;
$green3-color:#339900;
$green4-color:#336600;
$green5-color:#003300;
$green6-color:#99FF66;
$green7-color:#EBF4D5;
$green12-color:#719E2E;
$green13-color:#A6CC5F;
$green14-color:#799646;

// Colour Pallet - Yellows
$yellow1-color:#FFFF00;
$yellow2-color:#FFCC00;
$yellow3-color:#CC9900;
$yellow4-color:#996600;
$yellow5-color:#333300;
$yellow6-color:#FFFF99;
$yellow7-color:#FFFBC6;
$yellow8-color:#FFEA95;
$yellow9-color:#EAEAD7;
$yellow10-color:#F4F4EA;
$yellow13-color:#F6BE55;
$yellow14-color:#EDA551;

// Colour Pallet - Purple
$purple1-color:#FF00FF;
$purple2-color:#993366;
$purple3-color:#6666FF;
$purple8-color:#A5799F;

// Colour Pallet - Oranges
$orange1-color:#FF9900;
$orange2-color:#B96F00;
$orange3-color:#FC8C1D;

$brown1-color: #996633;
// Button Styles - Standard buttons

// Tab Styles
$monsoon     : #777777;
$iron        : #CCCCCC;
$smoke       : #EEEEEE;